
{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>Edit Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_Fourmateur') }}">back to list</a>

  
{% endblock %}
